html,
body {
  overflow-x: hidden;
}

/* Header Section Begins */
.header {
  width: 100vw;
  height: 12.5vh;
  padding-left: 5vw;
  align-items: end;
}
.fixed {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-top: 1vw;
  background-color: rgb(94, 94, 249);
  padding-bottom: 2.5vh;
  z-index: 10;
}
.navbar {
  margin-left: 40vw;
  gap: 2.5vw;
  width: fit-content;
}
.navbar a {
  width: fit-content;
  color: white;
  text-decoration: none;
}
.navbar a:visited {
  color: white;
  text-decoration: none;
}
.sibm-logo {
  margin-left: 5vw;
}
.fest-text {
  margin-left: 10vw;
}
/* Header Section Ends */

/* Landing Section Begins */
#landing {
  position: relative;
  width: 100vw;
  height: 110vh;
  background: linear-gradient(
      to bottom,
      transparent 0vh,
      transparent 50vh,
      rgba(16, 12, 108, 0.7) 110vh
    ),
    url("/assets/images/backgrounds/bg-1.png");
  background-size: 100% 100%;
}
.landing-button {
  padding: 1vh 2.5vw;
  margin-left: 42.5vw;
  margin-top: 30vh;
  text-decoration: none;
  border-radius: 5rem;
  border: solid 0.15rem white;
  width: fit-content;
}
.landing-button:hover {
  cursor: pointer;
}
.fest-logo {
  margin-top: 10vh;
}
.fest-fixed {
  margin-top: 22.5vh;
}
#about-sibm {
  height: 100vh;
  width: 100%;
  background: rgba(16, 12, 108, 1);
  gap: 5vh;
  padding: 15vh 17.5vw;
}
#about-fest {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(16, 12, 108, 1) 0vw,
      rgba(16, 12, 108, 1) 40vw,
      transparent 100vw
    ),
    url("/assets/images/backgrounds/bg-2.png");
  background-size: 100% 100%;
}
.about-fest-text {
  width: 52.5%;
  height: 100%;
  gap: 2.5vh;
  padding: 12.5vh 10vw;
}
/* Landing Section Ends */

/* Sponsors Section Begins */
#sponsors {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgb(16, 12, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sponsors-title {
  margin-top: 25vh;
}
.slider {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.slider img {
  height: 20vh;
  margin: 10vw;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.wrapper {
  display: flex;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top: -2.5vh;
}
/* Sponsors Section Begins */

#faq {
  padding: 15vh 20vw;
  background-color: rgb(16, 12, 108);
}

.faq-title {
  width: 100%;
}

.accordion-item {
  width: 100%;
}

#contact {
  background-color: rgb(9, 6, 52);
  padding: 15vh 5vw;
  padding-bottom: 2.5vh;
  height: fit-content;
  gap: 5vh;
}

.contact-container {
  gap: 5vh;
}

.contact-content {
  width: 50%;
  gap: 1.5vh;
}

.contact-details img {
  width: 1.5vw;
  height: 4vh;
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 0.75vw;
}

.contact-line {
  width: 0.1vw;
  height: 75vh;
  margin-top: -1vh;
  background-color: white;
}

.contact-credits {
  gap: 2.5vh;
}
