html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(1, 1, 72);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 246);
}

/* Header Section Begins */
.header {
  width: 100%;
  height: 12.5vh;
  padding-left: 5%;
  align-items: end;
}
.fixed {
  display: flex;
  flex-direction: row;
  align-items: end;
  position: fixed;
  padding-top: 1vw;
  background-color: white;
  padding-bottom: 1%;
  z-index: 10;
}
.navbar {
  margin-left: 40%;
  gap: 1.5%;
  width: 30%;
  font-size: 1rem;
}
.navbar a {
  width: fit-content;
  color: rgb(111, 110, 110);
  text-decoration: none;
}
.navbar a:visited {
  color: rgb(123, 123, 123);
  text-decoration: none;
}
.sibm-logo {
  margin-left: 5%;
}
@media (max-width: 1200px) {
  .navbar {
    margin-left: 20%;
    font-size: 0.75rem;
  }
  .club-logo {
    width: 20%;
  }
  .sibm-logo {
    width: 20%;
  }
}
@media (max-width: 1000px) {
  .navbar {
    margin-left: 10%;
    width: 40%;
  }
}
@media (max-width: 890px) {
  .navbar {
    margin-left: 17.5%;
    font-size: 0.65rem;
    width: 30%;
  }
}

@media (max-width: 800px) {
  .navbar {
    margin-left: 10%;
    width: 40%;
  }
}

@media (max-width: 700px) {
  .navbar {
    margin-left: 10%;
    font-size: 0.5rem;
    width: 40%;
  }
}
@media (max-width: 590px) {
  .navbar {
    margin-left: 1%;
    font-size: 0.4rem;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .navbar {
    width: 50%;
  }
}
/* Header Section Ends */

/* Landing Section Begins */
#landing {
  position: relative;
  width: 100vw;
  height: 110vh;
  background: linear-gradient(
      to bottom,
      transparent 0vh,
      transparent 50vh,
      rgba(16, 12, 108, 0.7) 110vh
    ),
    url("/assets/images/backgrounds/bg-1.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-button {
  padding: 1vh 2.5vw;
  margin-top: 30vh;
  text-decoration: none;
  border-radius: 5rem;
  border: solid 0.15rem white;
  width: fit-content;
  font-size: 1.5rem;
}
.landing-button:hover {
  cursor: pointer;
}
#landing p {
  font-size: 2.5rem;
}
.fest-text {
  margin-left: 10vw;
}
.fest-logo {
  margin-top: 10vh;
  width: 70%;
}
.fest-fixed {
  margin-top: 22.5vh;
}
#about-sibm {
  height: fit-content;
  width: 100%;
  background: rgba(16, 12, 108, 1);
  gap: 5vh;
  padding: 15vh 17.5vw;
}
#about-fest {
  height: fit-content;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(16, 12, 108, 1) 0vw,
      rgba(16, 12, 108, 1) 40vw,
      transparent 100vw
    ),
    url("/assets/images/backgrounds/bg-2.png");
  background-size: 100% 100%;
}
.about-fest-text {
  width: 52.5%;
  height: 100%;
  gap: 2.5vh;
  padding: 12.5vh 10vw;
}
.about-title {
  font-size: 2.5rem;
}
#about-fest p,
#about-sibm p {
  font-size: 1.5rem;
}
@media (max-width: 1000px) {
  #landing p {
    font-size: 1.5rem;
  }
  .landing-button {
    font-size: 1.5rem;
  }
  #about-fest p,
  #about-sibm p {
    font-size: 1rem;
  }
  .about-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  #about-fest {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 500px) {
  #landing p {
    font-size: 1rem;
  }
  .landing-button {
    font-size: 1rem;
  }
  #about-fest p,
  #about-sibm p {
    font-size: 0.75rem;
  }
  .about-title {
    font-size: 1rem;
  }
}
/* Landing Section Ends */

/* Sponsors Section Begins */
#sponsors {
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
  background: rgb(16, 12, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sponsors-title {
  margin-top: 25vh;
}
.sponsors-slider {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.sponsors-slider img {
  height: 20vh;
  margin: 10vw;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.wrapper {
  display: flex;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top: -2.5vh;
}
@media (max-width: 700px) {
  .sponsors-slider img {
    height: fit-content;
    width: 30vw;
  }
}
/* Sponsors Section Begins */
/* FAQ Section Begins*/
#faq {
  padding: 15vh 10vw;
  height: 150vh;
  background-color: rgb(16, 12, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  text-align: center;
  font-size: 2.5rem;
}

.accordions {
  margin-top: 10vh;
  width: 60vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.accordions-1 {
  margin-top: 5vh;
}

.accordions-2 {
  margin-top: 4vh;
}

.accordions-item {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.accordions-item::after {
  content: "";
  width: 100%;
  height: 0.25vh;
  display: block;
  background-color: white;
}

.accordions-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordions-header::after {
  content: "+";
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.accordions-header.active::after {
  content: "-";
  transform: rotate(180deg);
}

.accordions-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordions-content.open {
  max-height: 200px;
  padding: 15px;
}
@media (max-width: 1000px) {
  #faq {
    height: 100vh;
  }
  .accordions {
    font-size: 1rem;
    margin-top: 5vh;
  }
  .faq-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  #faq {
    height: 125vh;
  }
  .accordions {
    font-size: 0.75rem;
    margin-top: 5vh;
  }
  .faq-title {
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  #faq {
    height: 150vh;
  }
}
/* FAQ Section Ends*/

/*Contact Section Begins*/
#contact {
  padding: 10vh 10vw;
  width: 100%;
  background-color: white;
}
.contact-left {
  width: 50%;
  gap: 5vh;
}
.fest-logo-dark {
  width: 80%;
  height: auto !important;
}
.contact-left p {
  font-size: 1.5rem;
}
.contact-title {
  font-size: 2rem;
}
.contact-right {
  width: 50%;
  gap: 10vh;
}
.contact-right a {
  text-decoration: none;
  color: white;
}
.contact-right a:hover {
  text-decoration: none;
  cursor: pointer;
}
.contact-right a:visited {
  text-decoration: none;
  color: white;
}
.contact-join {
  padding: 2.5vh 5vw;
  background-color: rgb(16, 12, 108);
  color: white;
  border-radius: 2.5rem;
  font-size: 1.5rem;
}
.icons-container {
  gap: 2vh;
  margin-left: 5vw;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}
.icons p {
  font-size: 1rem;
}
.icons img {
  width: 2vw;
  height: auto;
}
.club-logo-footer {
  width: 15vw;
}
.contact-left img {
  height: 5vh;
}
.icons-left {
  gap: 1vw;
}
@media (max-width: 700px) {
  #contact {
    flex-direction: column !important;
    align-items: center !important;
    gap: 10vh;
  }
  .contact-left {
    width: 100%;
  }
  .contact-left p {
    font-size: 1rem;
  }
  .contact-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .contact-right {
    width: 100%;
    align-items: center !important;
  }
  .contact-join {
    font-size: 1rem;
  }
  .icons-left {
    justify-content: center;
  }
  .icons p {
    font-size: 0.75rem;
  }
  .club-logo-footer {
    width: 70%;
  }
}
/*Contact Section Ends*/

/*Events Section Begins*/
#events {
  height: fit-content;
  background-color: rgb(16, 12, 108);
  padding: 15vh 10vw;
  gap: 0vh;
  position: relative;
}

.events-title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.slider-container {
  position: relative;
  width: 80vw;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 62.5vh;
  transition: transform 0.4s ease-in-out;
}

.slide {
  flex: 0 0 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.slide img {
  width: 70%;
  transition: transform 0.4s ease-in-out;
  border-radius: 10px;
}

.slide.active img {
  transform: scale(1.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.slide-content {
  position: absolute;
  left: 36%;
  width: 28%;
  height: 100%;
  top: 0%;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128);
  opacity: 0;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  font-size: 1.25rem;
}
.slide-content:hover {
  opacity: 1;
}
.slide-link {
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  padding: 1vh 1vw;
}
.slide-link:visited {
  color: white;
  text-decoration: none;
}
.slide-link:hover {
  cursor: pointer;
}
.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s, background 0.3s;
}

.controls button.hidden {
  opacity: 0;
  pointer-events: none;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
  gap: 2vw;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  border: 2px solid transparent;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail.active {
  transform: scale(1.5);
  border-color: #333;
}
@media (max-width: 1000px) {
  .events-title {
    font-size: 2rem;
  }
}
@media (max-width: 1500px) {
  .slider {
    display: flex;
    width: 100%;
    height: 62.5vh;
    transition: transform 0.4s ease-in-out;
  }
  .slide-content {
    height: 75%;
    font-size: 1.25rem;
    width: 60%;
    left: 20%;
  }

  .slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }

  .slide.active {
    opacity: 1;
  }

  .slide img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }

  .thumbnails {
    gap: 1vw;
  }
}
@media (max-width: 500px) {
  .events-title {
    font-size: 1.5rem;
  }
  .slide-content {
    font-size: 0.75rem;
  }
}
/*Events Section Ends*/

/* Gallery Section Begins */
.gallery {
  background-color: rgb(16, 12, 108);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  gap: 1vh;
  margin-top: 25vh;
  margin-bottom: 25vh;
}
.image-cont {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 0.5rem;
}
.image {
  transform: translateY(-85%) translateX(85%);
  object-fit: cover;
  transition: height 1s ease-in-out, transform 1s ease-in-out;
  border: white solid 0.1rem;
  border-radius: 1rem;
}

.image.visible {
  width: 100%;
  height: 100%;
  transform: translateY(0) translateX(0);
}
.gallery-grid div img {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 40vw);
  }
  .gallery-grid div {
    width: 40vw;
    height: 40vw;
  }
}
@media (max-width: 300px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 80vw);
  }
  .gallery-grid div {
    width: 80vw;
    height: 80vw;
  }
}
/* Gallery Section Ends */

/*Sponsors Page Begins*/
#header-container {
  background-color: rgb(16, 12, 108);
}
.sponsors-page {
  width: 100%;
  background-color: rgb(16, 12, 108);
  padding-top: 20vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors-page-title {
  font-size: 2.5rem;
}
.sponsors-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  column-gap: 10vw;
  row-gap: 10vw;
  padding: 5vh 10vw;
  height: fit-content;
}

.sponsors-page-grid div {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5vh;
  padding: 10% 10%;
  margin: 5vh 0;
  background-color: rgb(188, 188, 249);
  border-radius: 1rem;
}
.sponsors-page-grid div p {
  position: absolute;
  bottom: 2.5vh;
  font-size: 1.5rem;
}

.sponsors-page-grid div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sponsors-page-grid img {
  max-height: 60%;
  max-width: 80%;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  column-gap: 10vw;
  row-gap: 10vw;
  padding: 5vh 10vw;
  height: fit-content;
}

.partners-grid div {
  width: 20vw;
  height: 20vw;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5vh;
  padding: 10% 10%;
  margin: 5vh 0;
  background-color: rgb(188, 188, 249);
  border-radius: 1rem;
}
.partners-grid div p {
  position: absolute;
  bottom: 2.5vh;
  font-size: 1.5rem;
}

.partners-grid div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.partners-grid img {
  max-height: 60%;
  max-width: 80%;
}

@media (max-width: 1000px) {
  .partners-grid {
    grid-template-columns: repeat(2, 30%);
    gap: 20vw;
    padding: 0;
  }
  .partners-grid div {
    width: 30vw;
    height: 30vh;
  }
}

@media (max-width: 700px) {
  .sponsors-page-grid {
    grid-template-columns: repeat(1, 80%);
    gap: 20vw;
    padding: 0;
  }
  .sponsors-page-grid div {
    width: 80vw;
    height: 40vh;
  }
  .partners-grid {
    grid-template-columns: repeat(1, 80%);
    gap: 20vw;
    padding: 0;
  }
  .partners-grid div {
    width: 80vw;
    height: 40vh;
  }
}
